@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    
}

h1,
h2 {
    font-family: 'Lora', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* Navigation links */

#background {
    background-size: cover;
    background-color: darkslateblue;
}

#logo {
    float: left;
    font-size: 280%;
    margin: 0 30px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    float: none;
}

#menu,
#logo {
    line-height: 75px;
    display: flex;
    
}

#menu li {
    float: left;
    list-style-type: none;
    margin: 0 10px;
}

#menu a {
    text-decoration: none;
    color: gold;
}

#menu a:hover {
    border-bottom: 1px solid gold;
}

/* hero image */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text {
    font-size: 110%;
    width: 50%;
    height: 400px;
    padding: 30px 40px;
    background-color: rgba(211, 211, 211, 1);
    left: 250px;
    right: 150px;
    bottom: 50px;
    position: absolute;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hands-typing.jpg') no-repeat center center;
}

/* footer */

footer {
    height: 160px;
    background: darkslateblue;
    width: 100%;
    padding: 0;
    margin: 0 auto;
}

.social-networks {
    text-align: center;
    padding: 50px 0;
}

.social-networks>li {
    display: inline;
}

.social-networks a {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    text-decoration: none;
    color: gold;
}

.social-networks a:hover {
    text-decoration: underline 1px solid gold;
}

footer p {
    text-align: center;
    color: gold;
}